[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
azure-cognitiveservices-speech = "*"
gunicorn = "*"

[dev-packages]

[requires]
python_version = "3.9"
