@import url("https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap");
html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body,
textarea,
select,
button {
  font-family: "Noto Sans", sans-serif;
  font-size: 1rem;
  color: #4c4c51;
}
h2 {
  text-align: center;
}
.main {
  display: grid;
  grid-template-columns: 3fr 2fr;
  grid-template-rows: 1fr;
  padding-top: 20px;
}
.main div {
  display: flex;
  justify-content: center;
}
textarea {
  resize: none;
  width: 90%;
  height: 350px;
  padding: 15px;
}
.main .option {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(4, 1fr);
  width: 90%;
  height: 300px;
  gap: 30px;
  padding-top: 20px;
}
.main .option .languageselect,
.main .option .voiceselect,
.main .option .voicestyleselect {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(2, 1fr);
}
.main .option .languageselect div,
.main .option .voiceselect div,
.main .option .voicestyleselect div {
  display: flex;
  justify-content: flex-start;
  padding-left: 5vw;
}
select {
  width: 80%;
  padding: 5px;
}
button {
  color: white;
  background-color: #0078d4;
  border-radius: 5px;
  border: 1px solid #0078d4;
  padding: 10px 16px;

  cursor: pointer;
}

@media screen and (max-width: 650px) {
  .main {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
  }
  .main .option .languageselect div:nth-child(2),
  .main .option .voiceselect div:nth-child(2),
  .main .option .voicestyleselect div:nth-child(2) {
    display: flex;
    justify-content: center;
  }
  .main .option .languageselect div:first-child,
  .main .option .voiceselect div:first-child,
  .main .option .voicestyleselect div:first-child {
    padding-left: 13vw;
  }
}
