<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Azure Text-To-Speech Python</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/styles.css') }}"
    />
    <script
      type="module"
      src="{{ url_for('static', filename='js/scripts.js') }}"
    ></script>
    <script>
      let selectedLang = "{{selectedLang}}";
      let selectedVoice = "{{selectedVoice}}";
    </script>
  </head>
  <body>
    <h2>Azure Text-To-Speech Python</h2>
    <form action="/convert" method="post">
      <div class="main">
        <div class="textarea">
          <textarea
            name="ttstext"
            id="ttstext"
            wrap="hard"
            placeholder="Type in some text here ....."
          >
{% if ttstext %}{{ttstext}}{% endif %}</textarea
          >
        </div>
        <div class="option">
          <div class="languageselect">
            <div>
              <label for="languageselect">Language</label>
            </div>
            <div>
              <select name="languageselect" id="languageselect"></select>
            </div>
          </div>
          <div class="voiceselect">
            <div>
              <label for="voiceselect">Voice</label>
            </div>
            <div>
              <select name="voiceselect" id="voiceselect"></select>
            </div>
          </div>
          <div>
            <button type="submit" value="submit" id="submit">Convert</button>
          </div>
          <div class="sample-clear">
            <div class="sample">
              <button type="button" id="sample">Sample</button>
            </div>
            <div class="clear">
              <button type="button" id="clear">Clear</button>
            </div>
          </div>
        </div>
      </div>
    </form>
    {% if audio %}
    <div class="audio">
      <audio controls autoplay>
        <source src="{{audio}}" type="audio/mpeg" />
      </audio>
    </div>
    {% endif %}
  </body>
</html>
