<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Azure Text-To-Speech Python</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='styles.css') }}"
    />
<script src="{{ url_for('static', filename='scripts.js') }}"></script>

  </head>
  <body onload="changeVoice()">
    <h2>Azure Text-To-Speech Python</h2>
    <form action="/convert" method="post">
      <div class="main">
        <div class="textarea">
          <textarea
            name="ttstext"
            id="ttstext"
            wrap="hard"
            placeholder="Type in some text here ....."
          >
{% if ttstext %}{{ttstext}}{% endif %}</textarea
          >
        </div>
        <div class="option">
          <div class="languageselect">
            <div>
              <label for="languageselect">Language</label>
            </div>
            <div>
              <select
                name="languageselect"
                id="languageselect"
                onchange="changeVoice()"
              >
                <option value="en-US" {% if languageselect=="en-US" %}selected{% endif %}>English (United States)</option>
                <option value="en-GB" {% if languageselect=="en-GB" %}selected{% endif %}>English (United Kingdom)</option>
                <option value="vi-VN" {% if languageselect=="vi-VN" %}selected{% endif %}>Vietnamese (Vietnam)</option>
              </select>
            </div>
          </div>
          <div class="voiceselect">
            <div>
              <label for="voiceselect">Voice</label>
            </div>
            <div>
              <select name="voiceselect" id="voiceselect">
              </select>
            </div>
          </div>

          <div class="button">
            <button type="submit" value="submit">Convert</button>
          </div>
 
        </div>
      </div>
    </form>
    {% if audio %}
    <div class="audio">
      <audio controls autoplay>
        <source src={{audio}} type="audio/mpeg" />
      </audio>
    </div>
    {% endif %}
  </body>

</html>
