<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Azure Text-To-Speech Python</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='styles.css') }}"
    />
  </head>
  <body>
    <h2>Azure Text-To-Speech Python</h2>
    <form action="http://localhost:5000/convert" method="post">
      <div class="main">
        <div class="textarea">
          <textarea
            name="ttstext"
            id="ttstext"
            wrap="hard"
            placeholder="Type in some text here ....."
          >
Hello from the other side</textarea
          >
        </div>
        <div class="option">
          <div class="languageselect">
            <div>
              <label for="languageselect">Language</label>
            </div>
            <div>
              <select name="languageselect" id="languageselect">
                <option value="en-GB">English (United Kingdom)</option>
                <option value="en-US" selected="selected">
                  English (United States)
                </option>
                <option value="vi-VN">Vietnamese (Vietnam)</option>
              </select>
            </div>
          </div>
          <div class="voiceselect">
            <div>
              <label for="voiceselect">Voice</label>
            </div>
            <div>
              <select name="voiceselect" id="voiceselect">
                <option value="en-US-JennyNeural">Jenny (Neural)</option>
                <option value="en-US-JennyMultilingualNeural">
                  Jenny Multilingual (Neural) - Preview
                </option>
                <option value="en-US-GuyNeural">Guy (Neural)</option>
                <option value="en-US-AmberNeural">Amber (Neural)</option>
                <option value="en-US-AnaNeural">Ana (Neural)</option>
                <option value="en-US-AriaNeural">Aria (Neural)</option>
                <option value="en-US-AshleyNeural">Ashley (Neural)</option>
                <option value="en-US-BrandonNeural">Brandon (Neural)</option>
                <option value="en-US-ChristopherNeural">
                  Christopher (Neural)
                </option>
                <option value="en-US-CoraNeural">Cora (Neural)</option>
                <option value="en-US-ElizabethNeural">
                  Elizabeth (Neural)
                </option>
                <option value="en-US-EricNeural">Eric (Neural)</option>
                <option value="en-US-JacobNeural">Jacob (Neural)</option>
                <option value="en-US-MichelleNeural">Michelle (Neural)</option>
                <option value="en-US-MonicaNeural">Monica (Neural)</option>
                <option value="en-US-SaraNeural">Sara (Neural)</option>
                <option value="vi-VN-HoaiMyNeural">Hoai My (Neural)</option>
                <option value="vi-VN-NamMinhNeural">Nam Minh (Neural)</option>
              </select>
            </div>
          </div>

          <div class="voicestyleselect">
            <div>
              <label for="voicestyleselect">Speaking style</label>
            </div>
            <div>
              <select name="voicestyleselect" id="voicestyleselect">
                <option value="general">General</option>
                <option value="assistant">Assistant</option>
                <option value="chat">Chat</option>
                <option value="customerservice">Customer Service</option>
                <option value="newscast">Newscast</option>
              </select>
            </div>
          </div>

          <div class="button">
            <button type="submit" value="submit">Convert</button>
          </div>
          <!-- <div class="row column row-size1">
            <label for="speed" id="speedlabel">Speaking speed: 1.00</label>
            <div class="slider">
              <input
                type="range"
                id="speed"
                name="speed"
                min="-100"
                max="200"
                value="0"
                class="slider__input"
                data-bi-id="demo-rate-slider"
                aria-label="Speaking speed"
              />
            </div>
          </div>
          <div class="row column row-size1">
            <label for="pitch" id="pitchlabel">Pitch: 0.00</label>
            <div class="slider">
              <input
                type="range"
                id="pitch"
                name="pitch"
                min="-50"
                max="50"
                value="0"
                class="slider__input"
                data-bi-id="demo-pitch-slider"
                aria-label="Pitch"
              />
            </div>
          </div> -->
        </div>
      </div>
    </form>

    {% if ttstext %}
    <p>{{ ttstext }}</p>
    <p>{{ languageselect }}</p>
    <p>{{ voiceselect }}</p>
    <p>{{ voicestyleselect }}</p>
    {% endif %} {% if audio %}
    <div class="container">
      <audio controls autoplay>
        <!-- <source src="../data/result-male.wav" type="audio/mpeg" /> -->
        <source
          src="{{ url_for('static', filename='result.wav') }}"
          type="audio/mpeg"
        />
      </audio>
    </div>
    {% endif %}
  </body>
</html>
